body{
	margin: 0;
	padding: 0;}
	
.container {
	max-width: 1000px;
	margin: 0 auto;
}

/* Стили для шапки сайта */

.header {
    background: url(image/Фон\ головы.png) center center/cover no-repeat;
	height: 450px;
    margin-top: -20px;
    
}

.header_menu {
    position: absolute;
    width: 1220px;
    height: 200px;
    
    background: #97826F;
    border-radius: 23px 23px 0 0 ;
    padding-left: 300px;
    margin-top: 250px;
}

.ellipse {
    z-index: -1;
    margin-top: -140px;
    margin-left: -130px;
}
.ellipse1 {

    margin-top: -270px;
    margin-left: -115px;
}
.fio{
    width: 370px;
    height: 58px;

    font-family: 'Tenali Ramakrishna';
    font-style: normal;
    font-weight: 400;
    font-size: 31px;
    line-height: 48px;

    color: #000000;
    margin-left: -120px;
    margin-top: 10px;
}

.header__nav {
	display: flex;
	justify-content: center;
	gap: 40px;
    margin-top: -180px;
    margin-left: -200px;
}

.header__link {
	color: black;
	font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 24px;
	list-style: none;
	text-decoration: none;
	transition: all 0.7s ease-in-out;
}



.menu-item {
    width: 155px;
    height: 47px;

    background: #ECECEC;
    border-radius: 163px;
    margin: 0 10px;
    display: flex;
    justify-content: center;
    align-items: center;

}


.logo {
    padding: 0px 87px 0 61px;
}

.logo0 {
    margin-top:-70px;
    margin-left: 250px;
}
.logo1 {
    width: 394px;
    height: 136px;
    margin-left: 700px;
    margin-top: -90px;
}
.logo2 {
    width: 394px;
    height: 136px;
    margin-left: 800px;
    margin-top: -135px;
}

.logo3 {
    width: 394px;
    height: 136px;
    margin-left: 900px;
    margin-top: -135px;
}

/* content */

.content {
    margin: 40px 987px 0 -41px;
}

.content-box {
    width: 600px;
    height: 400px;
    background-color: white;
    border: 1px solid black;
    transform: rotate(-45deg);
    position: relative;
    z-index: -1;
}

.content-text {
    width: 520px;
    height: 200px;

    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 30px;
    line-height: 28px;

    color: #000000;

    transform: matrix(0.9, 0.0, 0.0, 0.8, 7, 18);
    padding-top:55px ;
    padding-left: 25px;
}

.image1 {
    position: relative;
    width: 400px;
    height: 420px;

    border-radius: 16px;
    margin-top: -350px;
    margin-left: 1000px;
}

.image2 {
    position: relative;
    width: 400px;
    height: 420px;

    border-radius: 16px;
    margin-top: 200px;
    margin-left: 200px;
}

.image3 {
    position: relative;
    width: 400px;
    height: 420px;

    border-radius: 16px;
    margin-top: 450px;
    margin-left: 1000px;
}

.image4 {
    position: relative;
    width: 400px;
    height: 420px;

    border-radius: 16px;
    margin-top: 450px;
    margin-left: 200px;
}

.image5 {
    position: relative;
    width: 855px;
    height: 604.19px;
    

    border-radius: 16px;
    margin-top: 60px;
    margin-left: 370px;
}


.text {
    width: 400px;
    height: 201.05px;

    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 28px;
    line-height: 32px;

    color: #000000;

    margin-top: -400px;
    margin-left: 900px;
}

.text1 {
    width: 400px;
    height: 201.05px;

    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 28px;
    line-height: 32px;

    color: #000000;

    margin-top: -400px;
    margin-left: 300px;
}

.text2 {
    width: 400px;
    height: 201.05px;

    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 28px;
    line-height: 32px;

    color: #000000;

    margin-top: -400px;
    margin-left: 900px;
}

.text3 {
    width: 855px;
    height: 232px;

    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 26px;
    line-height: 32px;
    text-align: center;

    color: #000000;
    margin-top: 500px;
    margin-left: 360px;
}
.text4 {
    width: 841px;
    height: 272px;

    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 26px;
    line-height: 31px;
    text-align: center;

    color: #000000;
    margin-top: 100px;
    margin-left: 360px;
}


/* footer */
.fot {
    padding: 0;
    margin-bottom: 0;
}
.footer {
    position: absolute;
    width: 1520px;
    height: 200px;
    
    background: #97826F;
    border-radius: 23px 23px 0 0;
    margin-left: -260px;

}

.footer-text {
    width: 222px;
    height: 44px;

    font-family: 'Inter';
    font-style: normal;
    font-weight: 600;
    font-size: 36px;
    line-height: 44px;

    margin-top: 20px;
    margin-left: 650px;

    color: #ECECEC;
}

.logo {
    padding: 0px 87px 0 61px;
}

.logo4 {
    width: 394px;
    height: 136px;
    margin-left: 530px;
    margin-top: 40px;
}
.logo5 {
    width: 394px;
    height: 136px;
    margin-left: 660px;
    margin-top: -135px;
}

.logo6 {
    width: 394px;
    height: 136px;
    margin-left: 790px;
    margin-top: -135px;
}
